body {
  font-family: Arial, sans-serif;
  background: #000000;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background: #ff8800;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
}

#hud {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 10px 0;
  color: #ecf0f1;
}

#newGameBtn {
  background-color: #ff9224;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
}

#newGameBtn:hover {
  background-color: #ff9224;
}

#gameBoard {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}


.card {
  background-color: transparent; 
  border-radius: 10px;
  height: 200px;
  cursor: pointer;
  perspective: 500px; 
}

.card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s; 
  transform-style: preserve-3d; 
  border-radius: 10px;
}

.card.flipped .card-inner,
.card.matched .card-inner {
  transform: rotateY(180deg);
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden; /* Hides the back of the element during the flip */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-front {
  background-color: #ecf0f1; 
  transform: rotateY(180deg); 
}

.card-back {
  background-color: #ff8800; 
  color: white;
  font-size: 60px;
  font-weight: bold;
}

.card-front img {
  width: 140px;
  height: 140px;
}

footer {
  margin-top: 20px;
  font-size: 0.9rem;
  color: #ecf0f1;
}
